@keyframes autoRun {
    from {
        left: 100%;
    }
    to {
        left: -150px;
    }
}


@keyframes moverCimaBaixo {
    0%, 100% {
        transform: translateX(-50%) translateY(0);
    }
    50% {
        transform: translateX(-50%) translateY(10px);
    }
}