.navegacao {
    display: flex;
    justify-content: center;
    align-items: center;
    padding: 1.5rem;
    background: var(--vidro);
    backdrop-filter: blur(10px);
    border-radius: calc(infinity * 1px);
    box-shadow: 0 4px 6px -1px rgb(0 0 0 / 0.1), 0 2px 4px -2px rgb(0 0 0 / 0.1);
}

.espaco {
    padding-top: 24px;
    position: sticky;
    top: 0;
    z-index: 100;
    display: flex;
    align-items: center;
    justify-content: center;
}

.menu {
    display: flex;
    justify-content: center;
    list-style: none;
    gap: 3rem;
}

.menu-link {
    text-decoration: none;
    color: var(--textColor);
    font-weight: 500;
    position: relative;
    padding: 0.5rem 0;
}

.menu-link::after {
    content: '';
    height: 2px;
    width: 0;
    position: absolute;
    bottom: 0;
    left: 0;
    background: linear-gradient(90deg, var(--primaria), var(--blue));
    transition: width 0.5s ease;
}

.menu-link:hover::after {
    width: 100%;
}

#switch {
margin-left: 20px;
  width: 60px;
  height: 30px;
  background: #ccc;
  border-radius: 30px;
  display: flex;
  align-items: center;
  padding: 3px;
  transition: background 0.3s ease;
  cursor: pointer;
}

#switch button {
  width: 24px;
  height: 24px;
  background: white;
  border: none;
  border-radius: 50%;
  display: flex;
  align-items: center;
  justify-content: center;
  transform: translateX(0);
  transition: transform 0.3s ease;
  cursor: pointer;
}

#switch button ion-icon {
  font-size: 18px;
  transition: transform 0.5s ease, opacity 0.3s ease, color 0.3s ease;
  color: #222; 
}

body.dark #switch {
  background: #000; 
}

body.dark #switch button {
  transform: translateX(30px); 
}

#sobre, #projetos, #contatos {
    scroll-margin-top: 30px;
}
