.sobre {
    position: relative;
    min-height: 100vh;
    display: flex;
    flex-direction: column;
    justify-content: center;
    gap: 4rem;
    width: 100%;
}

.sobre-titulo {
    font-size: 3rem;
    color: var(--claro);
    text-align: center;
}

.sobre-caixa {
    padding: 2rem;
    max-width: 800px;
    margin: 0 auto;
    border-radius: 16px;
    /* border: 1px solid var(--vidro); */
    backdrop-filter: blur(10px);
    background: rgba(255, 255, 255, 0.05);
}

.sobre-paragrafo {
    text-align: center;
    font-size: 1.5rem;
    overflow: hidden;
}

.logos {
    overflow: hidden;
    background: var(--escuro);
    white-space: nowrap;
    position: absolute; 
    bottom: 10px;
    width: 100%;
}

.logos-slide {
    display: inline-block;
    animation: 20s slide infinite linear;
}

.logos-slide img {
    height: 50px;
    margin: 0 50px;
}


.logos::before,
.logos::after {
    position: absolute;
    width: 100px;
    height: 100%;
    content: "";
    z-index: 2;
} 

.logos:before {
    left: 0;
    background: linear-gradient(to left, var(--vidro), var(--escuro));
}

.logos:after {
    right: 0;
    background: linear-gradient(to right, var(--vidro), var(--escuro));
} */


.logos:hover .logos-slide{
    animation-play-state: paused;
}



@media screen and (max-width: 799px) {

    .sobre-paragrafo {
        font-size: 1rem;
    }

    .logos img {
        height: 30px;
    }
}


@media screen and (max-width: 1280px) {
    .logos {
        bottom: 40px;
    }
}