.sobre {
    position: relative;
    min-height: 100vh;
    display: flex;
    flex-direction: column;
    justify-content: center;
    gap: 4rem;
    width: 100%;
}

.sobre-titulo {
    font-size: 3rem;
    color: var(--claro);
    text-align: center;
}

.sobre-caixa {
    padding: 2rem;
    max-width: 800px;
    margin: 0 auto;
    border-radius: 16px;
    /* border: 1px solid var(--vidro); */
    backdrop-filter: blur(10px);
    background: rgba(255, 255, 255, 0.05);
}

.sobre-paragrafo {
    text-align: center;
    font-size: 1.5rem;
}

.logos {
    overflow: hidden;
    background: var(--escuro);
    white-space: nowrap;
    position: absolute; 
    bottom: 10px;
}

.logos-slide {
    display: inline-block;
    animation: 20s slide infinite linear;
}

.logos-slide img {
    height: 40px;
    margin: 0 50px;
}


/* .logos::before,
.logos::after {
    position: absolute;
    width: 100px;
    height: 100%;
    content: "";
    z-index: 2;
}

.logos:before {
    left: 0;
    background: linear-gradient(to left, rgba(255, 255, 255, 0), red);
}

.logos:after {
    right: 0;
    background: linear-gradient(to right, rgba(255, 255, 255, 0), red);
} */


.logos:hover .logos-slide{
    animation-play-state: paused;
}



@media screen and (max-width: 799px) {

    .logos {
        margin-top: 20px;
    }

  .logos-slide {
        --width: 60px;
        --height: 50px;
        --quantity: 5;
    animation: slide 20s linear infinite;
  }
}


@media screen and (max-width: 1280px) {
    .logos {
        bottom: 40px;
    }
}